h1 {
  font-size: 2em;
}

h4 {
  font-size: 1.25em;
}

body {
  overflow-x: hidden;
  font-family: "Roboto", "Helvetica", sans-serif;
  padding: 50px 25px 0px 25px;
  background-color: #999;
  color: white;
  margin: 0px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #666;
  padding-bottom: 50px;
  margin-bottom: 100px;
}
header img {
  max-height: 65px;
}
header nav {
  display: flex;
  column-gap: 5px;
  justify-content: center;
  align-items: center;
}
header nav a {
  color: white;
  text-decoration: none;
}
header nav a:hover {
  text-decoration: underline;
}
header nav .social-icon {
  width: 40px !important;
  height: 40px !important;
}
header nav button, header nav section, header nav section > a:last-child {
  margin-left: 10px;
}
header nav button {
  background-color: #333;
  color: white;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}
header nav button:hover {
  background-color: #666;
}

#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: 1px solid #666;
  padding-bottom: 75px;
  margin-bottom: 75px;
}
#intro #main-illo {
  max-height: 450px;
  max-width: 100%;
  margin-bottom: 25px;
}
#intro p {
  max-width: 450px;
}

#projects {
  border-bottom: 1px solid #666;
  padding-bottom: 75px;
  margin-bottom: 75px;
}
#projects h1 {
  margin-bottom: 50px;
  text-align: center;
}
#projects .project {
  text-align: center;
}
#projects .project:last-child .project-btn-group {
  margin-bottom: 0px;
}
#projects .project h4 {
  margin-bottom: 15px;
}
#projects .project p.italicized {
  font-style: italic;
  font-weight: 100;
  font-size: 1em;
  margin-top: 0px;
}
#projects .project .project-img {
  aspect-ratio: 16/9;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 10px;
}
#projects .project .project-btn-group {
  margin: 15px 0px 35px 0px;
  display: flex;
  justify-content: center;
}
#projects .project .project-btn-group button {
  background-color: #333;
  color: white;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}
#projects .project .project-btn-group button:hover {
  background-color: #666;
}
#projects .project .project-btn-group button:last-child {
  margin-left: 5px;
}

#tools {
  text-align: center;
  margin-bottom: 75px;
}
#tools h1 {
  margin-bottom: 50px;
}
#tools #programming-icons {
  display: flex;
  justify-content: center;
  row-gap: 25px;
  column-gap: 15px;
  flex-wrap: wrap;
}
#tools #programming-icons .pi-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#tools #programming-icons svg {
  width: 65px !important;
  height: 65px !important;
}

footer {
  background-color: #777;
  margin-left: -26px;
  margin-right: -26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer #social-icons, footer p {
  display: block;
  min-width: 100vw;
  text-align: center;
}

@media (min-width: 992px) {
  #projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 35px;
  }
}
@media (max-width: 615px) {
  #programming-icons {
    column-gap: 5px !important;
  }
  #programming-icons .pi-flex-container {
    flex-basis: 22%;
  }
}

/*# sourceMappingURL=index.css.map */
